/* developer styles go here */

@font-face {
    font-family: 'tofinomedium';
    src: url('../font/tofino-mediumpersonal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tofinobold';
    src: url('../font/tofino-boldpersonal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --green: #629045;
    --tiny-green: #165022;
    --dk-green: #252d2b;
    --orange: #da6a00;
    --off-white: #f2f2f2;
    --svg-white: #cbc9c9;
    --grey: #7e8482;
}


body {
    font-family: 'Merriweather Sans', sans-serif;
}

.inner-container {
    padding: 0 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

/* ************************************Typography*********************** */

h2 {
    font-size: 4.5rem;
    font-family: 'tofinobold', sans-serif;
    color: var(--dk-green);
    line-height: 1;
}

p {
    color: #000;
    font-size: 1rem;
    margin-bottom: 3.125rem;

}

h3 {
    color: var(--green);
    font-size: 2.625rem;
    line-height: 1.2;
    font-family: 'tofinomedium', sans-serif;
    position: relative;
    top: -3.125rem;
    left: 1rem;
}

/* *******************************************Header****************************** */
header {
    background-color: var(--dk-green);
    margin-bottom: 6rem;
}

header .flex {
    flex-direction: row;
    margin-bottom: 1.5rem;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

header button {
    background-color: var(--dk-green);
    fill: var(--off-white);
    border: none;
}

header a {
    text-decoration: none;
    color: var(--off-white);
    text-align: right;
    display: block;
    line-height: 1.7rem;
}

header a:hover {
    color: var(--green);
}

.toggle-button svg {
    width: 1.5rem;
    stroke: var(--off-white);
}

.toggle-button svg:hover {
    stroke: var(--orange);
}

.menu svg {
    display: none;
}

.sub-menu {
    margin-bottom: 1rem;
}

nav {
    position: absolute;
    left: -1.0625rem;
    top: 4rem;
    background-color: var(--dk-green);
    width: 100vw;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.show-nav {
    max-height: 550px;
}



/* ***************************************Main Content************************ */
.green {
    color: var(--green);
}

.main img {
    width: 80%;
}

.main img:first-of-type {
    position: relative;
    left: 45px;
    top: 32px;
    z-index: -1;
}

.main img:last-of-type {
    margin-bottom: 9.375rem;
}

.main h2 {
    font-size: 5.625rem;
}

/* *********************************Tiny Living********************************** */
.tiny-living {
    background-color: var(--grey);
    margin-bottom: 6rem;
}

.tiny-living h2 {
    line-height: 1;
    font-size: 5.625rem;
    margin: 3.125rem 0;
    color: var(--off-white);
}

.tiny-living img {
    margin-bottom: 1.5rem;
}

.tiny-green {
    color: var(--tiny-green);
}

.indent {
    margin-left: 1.5625rem;
}





/* *******************************Recent Articles*********************************** */
.recent-articles {
    position: relative;
}

.recent-articles h2 {
    position: relative;
}

.recent-articles svg {
    position: absolute;
    width: 40px;
    fill: var(--orange);
    top: -1.4375rem;
    left: -15px;
}

.recent-articles h2 {
    line-height: 1;
    margin-bottom: 1.5rem;
}

article {
    margin-bottom: 3.125rem;
}

article a {
    padding: 0 1rem;
}

article img {
    background-color: var(--dk-green);
    padding: 1.5rem 1rem 4.0625rem 1rem;
}

article p {
    margin-top: -1.5625rem;
    padding: 0 1rem;
}


/* ********************************Future is Green Content*********************** */

.future {
    background-color: var(--dk-green);
    margin-bottom: 6.25rem;
}

.future h2 {
    color: var(--off-white);
    text-align: right;
    font-size: 3.75rem;
    margin: 3.375rem 0;
    display: inline-block;
}

.future p {
    color: var(--off-white);
}

.future img {
    margin-bottom: 3.125rem;
}

/* **********************************Buttons*********************************** */
.cta {
    text-decoration: none;
    background-color: var(--dk-green);
    color: var(--off-white);
    padding: 1rem 4rem;
    border-radius: 75px;
    display: inline-block;
    margin-bottom: 3.125rem;
    text-align: center;
}

.cta:hover {
    background-color: var(--orange);
}

.future .cta {
    background-color: var(--green);
}

.future .cta:hover {
    background-color: var(--orange);
}

.links {
    text-transform: uppercase;
    color: #000;
}

.links:hover {
    color: var(--orange);
}

/* *************************************Footer*************************************** */
footer {
    background-color: var(--dk-green);
}

.f-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 1.5rem;
}

.f-menu a {
    color: var(--off-white);
    text-decoration: none;
    display: block;
    font-size: 0.875rem;
}

.list-margin {
    margin-bottom: 1.5rem;
}

.f-menu a:hover,
.f-menu svg:hover {
    color: var(--green);
    fill: var(--green);
}

.f-menu li {
    line-height: 2rem;

}

.icons svg {
    width: 1.5rem;
    fill: var(--svg-white);
    padding-top: 1.5rem;
}

.f-menu ul {
    margin-bottom: 2.1875rem;
}

.icons {
    display: flex;
    gap: 0.5rem;
}

.f-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* 
*********************************************************Media Queries*************************** */

@media screen and (min-width: 880px) {

    /* *****************************Main*********************** */
    .main-flex {
        display: flex;
        gap: 1rem;
    }

    .main-content {
        width: 40%;
    }

    .main-img {
        width: 60%;
    }

    .main img {
        width: 65%;
    }

    .main img:first-of-type {
        left: 160px;
        top: 32px;
        z-index: -1;
    }

    /* *************************************Tiny Living******************** */

    .tiny-living {
        position: relative;
        margin-bottom: 12rem;
    }

    .tiny-living .flex {
        width: 40%;
        margin-left: auto;
    }

    .tiny-living img {
        position: absolute;
        left: -145%;
        top: -8%;
        max-height: 51.5625rem;
        max-width: 28.125rem;
    }

    /* ********************************Recent Articles**************************** */

    .recent-articles h2 {
        font-size: 5.625rem;
        text-align: center;
        width: 41.875rem;
        margin: 0 auto;
    }

    .recent-articles svg {
        width: 5rem;
        top: -3rem;
        left: -30px;
    }

    .article-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    article {
        width: 49%;
    }

    article h3 {
        word-spacing: 2px;
    }


    /* **************************future********************************************** */
    .future{
        width: 66%;
    }

    .future .flex {
        width: 40%;
    }

    .future h2 {
        margin-left: 3rem;
    }

    .future .flex {
        width: 70%;
        margin-left: 0;
    }

    .future img {
        position: absolute;
        left: 120%;
        max-width: 21.875rem;
    }
}

@media screen and (min-width:1200px) {

    .indent {
        margin-left: 4rem;
    }

    /* **************************************Header*********************************** */
    header h1 {
        font-size: 2.25rem;
        padding: 1.5rem 0 0 0;
    }

    .toggle-button {
        display: none;
    }

    header .inner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a{
        text-align: center;
    }
    .nav-flex {
        display: flex;
        gap: 0.25rem;
    }

    nav {
        position: static;
        padding: 0;
        width: auto;
        display: flex;
        align-items: center;
        gap: 2rem;
        overflow: visible;
    }

    ul.menu {
        display: flex;
        gap: 1.5rem;
        border: none;
    }

    ul.menu li {
        display: block;
        position: relative;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    ul.menu svg {
        display: block;
        width: 1.5rem;
        stroke: var(--off-white);
    }

    ul.submenu {
        position: absolute;
        top: 2.1875rem;
        left: 0;
        width: 100%;
        white-space: nowrap;
        background-color: var(--dk-green);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        display: block;
        border-radius: 4px;
    }

    ul.submenu li {
        padding: 0.5rem 1rem;
        line-height: 3rem;
        text-align: center;
        font-size: 1rem;
    }

    ul.menu li:hover>ul.submenu {
        visibility: visible;
        opacity: 1;
    }

    ul.menu li:focus-within>ul,
    ul.menu li>ul:focus {
        visibility: visible;
        opacity: 1;
    }

    ul.utility-nav {
        margin-bottom: 0;
    }

    .list-margin {
        margin: 0;
    }



    /* ****************************************Main Content**************************** */

    .main-img {
        width: 50%;
    }

    .main-content {
        width: 33%;
        margin-left: 9rem;
    }

    .main-content h2 {
        text-align: center;
        margin-left: 0.5rem;
        font-size: 7.8125rem;
    }

    .main-flex {
        justify-content: space-between;
    }

    /* ************************************Tiny Living******************************* */

    .tiny-living h2{
        font-size: 7.8125rem;
    }


    .tiny-living .flex {
        width: 33%;
        margin-right: 12rem;

    }

    .tiny-living img {
        position: absolute;
        left: -145%;
        top: -8%;
        max-height: 51.5625rem;
        max-width: 30rem;
    }

    /* ********************************Recent Articles**************************** */

    .recent-articles h2 {
        font-size: 7.8125rem;
        width: 62.5rem;
    }

    .article-flex {
        flex-wrap: nowrap;

    }

    h3 {
        width: 15.625rem;
    }

    .recent-articles svg {
        width: 4rem;
        top: -2rem;
        left: 1rem;
    }

    /* ***************************************future******************************* */

    .future {
        background-color: #fff;
        width: 100%;
    }

    .future .flex {
        background-color: var(--dk-green);
        width: 85%;
        padding: 0 16rem 0 0;
        max-width: 71.875rem;
    }

    .future p {
        width: 90%;
    }

    .future h2 {
        font-size: 7.8125rem;
        width: 40.625rem ;
    }

    .future img {
        left: 80%;
    }

    /* ***********************footer******************************* */

    .f-menu {

        justify-content: flex-start;
        gap: 15%;

    }

     footer .list-margin {
        margin-bottom:1.5rem;
    }
}